body{
    background-color: rgb(60, 127, 171);
    font-family: 'Roboto', sans-serif;
}
a:link, a:visited{
    color: #000000;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
}
a:hover, a:active{
    color: #ffffff;
    background-color: #000000;
    transition: 0.2s;
}
table{
    border: #000000;
    background-color: #ffffff;
    width: 40rem;
}
td{
    background-color: rgb(219, 219, 219);
    border-radius: 5px;
}
th{
    background-color: rgb(204, 204, 204);
}
button{
    color: #000000;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
}
button:hover{
    transition: 0.2s;
    color:#ffffff;
    background-color: #000000;
}
.btn{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}